<a mat-raised-button color="accent" [routerLink]="['/']"
   routerLinkActive="router-link-active" class="buttons-card">
  <mat-icon>arrow_back</mat-icon>
  Ir a
  principal</a>
<app-task-item [task]="task"></app-task-item>


<!--
<mat-card class="tarjeta">
  <mat-card-header></mat-card-header>
  <mat-card-content class="tarjeta-contenido">
    <div class="tarjeta-letras">
      <p>{{ task.todo }}</p>
      <small>{{ task.time }}</small>
    </div>
    <mat-card-actions class="tarjeta-acciones">

    </mat-card-actions>
  </mat-card-content>
</mat-card>-->
