<h1>LISTA DE TAREAS</h1>
<div>
  <div class="titulo">
    <h2>HOY</h2>
    <button mat-mini-fab aria-label="" (click)="openDialog()">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </div>
  <h5>pendiente</h5>
  @for (item of tasksTodayNo; track item.id) {
    <app-task-item [task]="item" (editor)="onEditTaskDialog($event)" (delete)="onDeleteTask($event)"
                   (checked)="onCheckedTask($event)"></app-task-item>
  } @empty {
    <small><i>no hay pendientes</i></small>
  }
  <h5>Completado</h5>
  @for (item of tasksTodayOk; track item.id) {
    <app-task-item [task]="item" (editor)="onEditTaskDialog($event)" (delete)="onDeleteTask($event)"
                   (checked)="onCheckedTask($event)"></app-task-item>
  } @empty {
    <small><i>no hay completados</i></small>
  }
</div>
<div>
  <div class="titulo">
    <h2>AYER</h2>
  </div>
  @if (taskYesterdayNo.length > 0) {
    <h5>pendiente</h5>
    @for (item of taskYesterdayNo; track item.id) {
      <app-task-item [task]="item"
                     (checked)="onCheckedTask($event)"></app-task-item>
    }
  }
  <h5>Completado</h5>
  @for (item of taskYesterdayOk; track item.id) {
    <app-task-item [task]="item"
                   (checked)="onCheckedTask($event)"></app-task-item>
  } @empty {
    <small><i>no hay completados</i></small>
  }
</div>
